<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card custom-card">
                <div class="card-header">
                    <h2>Recent Topic</h2>
                </div>
                <div class="card-body px-0 py-0">
                    <ul class="custom-list">
                        <li class="color-yellow">
                            <h5>Salary History Limitations</h5><a href="" class="bookmark"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                            <p>Some state limit an employer can ask what about an applicant's past earnings.</p>

                            <span class="shortinfo"><i class="fa  fa-file"></i> Applied in 35 States</span> <span class="datefrmt float-right">last updated: 7th Oct. 2020</span>
                        </li>

                        <li class="color-green">
                            <h5>Salary History Limitations</h5><a href="" class="bookmark"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                            <p>Some state limit an employer can ask what about an applicant's past earnings.</p>

                            <span class="shortinfo"><i class="fa fa-file"></i> Applied in 35 States</span> <span class="datefrmt float-right">last updated: 7th Oct. 2020</span>
                        </li>

                        <li class="color-red">
                            <h5>Salary History Limitations</h5><a href="" class="bookmark"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                            <p>Some state limit an employer can ask what about an applicant's past earnings.</p>

                            <span class="shortinfo"><i class="fa fa-file"></i> Applied in 35 States</span> <span class="datefrmt float-right">last updated: 7th Oct. 2020</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-9"></div>
    </div>
</div>