/* You can add global styles to this file, and also import other style files */
body {
    background: #f4f6f9;
}
.topbar { height: 6.375rem;}
.topbar .fa {font-size: 24px; color: #333;}

.box {
    position: relative;
    width: 220px;
}
.search {
    width: 200px;
    max-width:0;
    padding: 10px;
    transition: all .5s ease;
    position:absolute;
    right:20px;
    box-sizing:border-box;
    opacity:0;
}
.search.expanded {
    max-width:200px;
    opacity:1;
}
.icon {
   position: absolute;
   right: 0;
}

.topbar .nav-item .nav-link { font-size: 18px; color: #999999;}
.topbar .nav-item .nav-link.active { font-weight: bold; color: #00447b;}

.card {
    border-color: #f4f4f4;
    box-shadow: 0 0 10px #e4e4e4 ;
    background-color: #fff;
}
.card-header {
    background-color: #fff;
}

/* Custom List */
.color-yellow { border-left: gold solid 4px;}
.color-red { border-left: red solid 4px;}
.color-green { border-left: green solid 4px;}

.custom-card { margin-top: 30px; color: #000;}
.custom-card h2{ font-size: 20px;  font-weight: bold; margin: 20px auto;}
.custom-card h5 {  font-size: 18px; color:#000; font-weight: bold;}
.custom-card p { color:#7b7b7b}

.custom-card span { font-size: 14px;}

.custom-card ul.custom-list { list-style: none; padding: 0; margin: 0;}
.custom-card ul.custom-list > li { padding: 10px 20px; position: relative; border-bottom: #eaedf2 solid 1px;}
.custom-card ul.custom-list > li a.bookmark{ position: absolute; right: 20px; top: 20px; color: #dcdfe6;}

.custom-card ul.custom-list > li span.datefrmt { color: #9ba7c0;}
.custom-card ul.custom-list > li span.shortinfo { color: #000;}

/* Login Signup */
.logo-signup img{ 
    width: 74px;
    position: absolute;
    left: 8%;
    top: 5%;
}
.full-height { min-height: 100vh;width: 100%; position: relative;}
.vertical-align {
    display: table;
    height: 100%;
    width: 100%;
}
.sign-in { overflow: hidden;}
.sign-in .vertical-align{
    border-radius: 10px;
    max-width: 640px;
    margin: 100px auto -100px auto;
}
.height-100 {
    height: 100%;
}
.bg-white {
    background-color: #ffffff !important;
}
.bg-grey {
   background-color: #d5dae5;
}
.no-pdd-horizon {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.pdd-horizon-70 {
    padding-left: 70px !important;
    padding-right: 70px !important;
}
.pdd-horizon-cnt{
    padding-left: 15% !important;
    padding-right: 15% !important;
}
.sign-up .vertical-align { padding-top: 120px;}
@media only screen and (max-width:1165px){
    .pdd-horizon-cnt{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .sign-in .vertical-align{
        border-radius: 10px;
        max-width: 440px;
        margin: 100px auto -100px auto;
    }
    .full-height.bg .img-caption img { max-width: 100%;}
}


@media only screen and (max-width:1023px){
    .sign-up .small-resolution-none{ display: none !important}
    .sign-up .small-resolution {}
    .sign-up .no-pdd-horizon { padding: inherit ;}
    .pdd-horizon-cnt{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .sign-in .vertical-align{
        max-width: 440px;
        margin: 5% auto;
    }
    .small-resolution  { width: 100%; max-width: 100%; flex: 0 0 100%;}
    .sign-in { height: 100vh;}
    .sign-in .vertical-align { display: flex; align-items: center;}
    .sign-in .full-height { min-height: auto;}
    .sign-in .vertical-align .table-cell { width: 100%;}
    .sign-in .img-caption { padding: 5% !important;height: 50vh !important;}
}

@media only screen and (max-width:812px){
    .sign-in .vertical-align{
        max-width: 80%;
    }
    .sign-in { overflow-y: auto;}
    .full-height.bg .img-caption { background-image: none !important ; background-size: 100%; text-align: center; height: 100% !important;}
}

@media only screen and (max-width:767px){
    .sign-in .vertical-align{
        max-width: 94%;
    }
    
}

.vertical-align .table-cell {
    display: table-cell;
    vertical-align: middle;
}
.sign-in h2, .sign-up h2{ font-size: 28px; font-weight: bold;}
.font-size-21 { font-size: 21px; color: #002856;}

/* input fields */

.full-height.bg .img-caption{ background-repeat: no-repeat; height: 100vh; background-position: center center}